2captcha-python==1.1.2
async-generator==1.10
attrs==22.1.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
comtypes==1.1.14
contourpy==1.0.5
cycler==0.11.0
discord-webhook==0.17.0
exceptiongroup==1.0.0rc9
Flask==2.2.2
flask-sock==0.5.2
fonttools==4.37.4
h11==0.14.0
hostsman==1.1.5
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.1
numpy==1.23.4
opencv-python==4.6.0.66
outcome==1.2.0
packaging==21.3
Pillow==9.2.0
proxy.py==2.4.3
psutil==5.9.2
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
PySimpleGUI==4.60.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pywin32==304
pywinauto==0.6.8
requests==2.28.1
screeninfo==0.8.1
selenium==4.5.0
simple-websocket==0.8.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.12
webdriver-manager==3.8.3
websocket-client==1.4.1
Werkzeug==2.2.2
wsproto==1.2.0
zipp==3.9.0

fastapi~=0.85.1
pynput~=1.7.6
names~=0.3.0
pandas~=1.5.1